 
 <div class="tripshow">
 
 <%= link_to "Back", @trip %> 
 
 <%= form_for([@trip, @trip.messages.build]) do |f| %> 
 
 
              
              <form class="form-horizontal">
          <fieldset>
 	        
  
  <h2> Reservation </h2> 
  
 <p>  After you make your inquiry, you will be informed about the availability. If everything is alright, you'll get an invoice to secure your reservation and you can pay using paypal. </p>
  
  <%= image_tag("paypal.png", :alt => "paypal") %>
  ----------------------------------------------------------------------------
  
  <br> </br>
  
  
  
  
 <iframe src= "<%= @trip.url %>" width="930" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  
<% end %>

</div>


