<div class="tripshow">
  
  <div class="abouth">
    <h3> Thrill Engine serves as a guide for Epic Adventures, featuring places that can provide a life changing experience </h3>    
  </div>

<br></br>
 
  
 <div class="row">
   <div class="span8">
 


  <h4> Who is behind this ? </h4>
  <p> Thrill Engine is developed, designed and promoted by <%= link_to "http://emiilsw.staticloud.com", "http://emiilsw.staticloud.com/" %> .</p>




  

  <h4> Contact: </h4>
  <p> Got more questions ? Want to leave a feedback ? Contact me @ <%= mail_to "emils.veveris@thrillengine.com", "emils.veveris@thrillengine.com" %>  </p>
   </div>
   
  
   <div class="span3">
   
  </div> 
   
  </div>
 </div>