<div class="tripshow">
  
  <div class="abouth">
    <h3> Thrill Engine helps you connect with independent adventurers.  </h3>     
  </div>

<br></br>
 
  
 <div class="row">
   <div class="span8">
  



  <h4> Does it cost anything to be listed on Thrill Engine? </h4>
  
  <p> It's free to get started. The basic profile is based on 15% commission per booking and includes: </p> 
  
    <ul>
	   <li> 5 images; </li>
	   <li> Your website link; </li>
	   <li> Basic information. </li>	   	 
    </ul>
    
  <p>   There is a Pro listing for $99/year (for limited time only). The Pro listing includes:</p>
    <ul>
	   <li> Unlimited images; </li>
	   <li> A video; </li>
	   <li> Your own social profile buttons; </li>	   
	   <li> No booking fees. </li>
    </ul>
  
  <h4> How will you be promoting Thrill Engine to potential guests? </h4>
  <p>  Combination of web-based advertising targeted at small/medium interest groups ( surfing, snowboarding kiteboarding and more to come), and direct specific locations, also trough social media, and weekly email lists.
  </p>

  <h4> Contact: </h4>
  <p> Want to get listed ? Got more questions ? Want to leave a feedback ? Contact me @ <%= mail_to "emils.veveris@thrillengine.com", "emils.veveris@thrillengine.com" %>  </p>
   </div>
   
  
   <div class="span3">
   	<div class="abouts"> 
   	<h4> Why get listed on Thrill Engine ? </h4>
   	<p>  It's new, fresh and you are one of few, not one of many. Quality over quantity. And most importantly Thrill Engine is here to help more potential  guests find you. It is being promoted to thousands of board sports enthusiasts, who are looking for places to stay on their next trip.   </p>
    </div>
  </div> 
   
  </div>
 </div>