<div class="tripshow">
  
  <div class="abouth">
    <h3> F.A.Q. </h3>    
  </div>

<br></br>
 
  
 <div class="row">
   <div class="span8">
 


  <h4> How does it work ? </h4>
  <p> After you make your inquiry, you will be informed about the availability.
Your reservation will be secured after the full payment. </p>


<h4> Why do I need to pay upfront ?</h4>
<p>  This is for security reasons. Because Most of our partner operators are small and it is crucial for them to avoid "fake" reservations. </p>

  
 <h4> How can I pay ?</h4>
  <p> Using Paypal. </p>

 <h4> Can I cancel my reservation ? </h4>
  <p> Booking policy depends on the holiday provider, this will be noted on the inquiry page. </p>
  
  <p> Got more questions ? Want to leave a feedback ? Contact me @ <%= mail_to "emils.veveris@thrillengine.com", "emils.veveris@thrillengine.com" %>  </p>
   </div>
   
  
   <div class="span3">
   
  </div> 
   
  </div>
 </div>