
<div class="about">

<div class="packages">

<h2> Cool. Let's work, contact me - <%= mail_to "emils.veveris@thrillengine.com", "emils.veveris@thrillengine.com" %> , so we could discuss details.  </h2>



</div>

</div>
