

<!-- Google Code for Booking Inquiry Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1006749199;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "8sqHCPmaiwQQj4yH4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1006749199/?value=0&amp;label=8sqHCPmaiwQQj4yH4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<div class="tripshow">

<h3> Thanks for your inquiry.
You will be informed about the availability within 24 hours.

You can check out  <%= link_to "FAQ", faq_path %> section if you have more questions. </h3>


</div>
