
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$lightGray: #999;

/* header */

.nav-pills {
	font-size:12px;
	font-weight:bold;
	margin-top: -25px;
	border-radius: 0px;
}


.nav-pills li  a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #5e5a5a ;
  
}


.nav-pills a:hover {
  
 background:none;
 text-decoration:underline;
}



#logo {
  
    margin-left:5px;
     
}




.headline {
	
	background: url(im3.png);
    margin-top: -310px;
	position: absolute;
	margin-left:65px;	
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-shadow: 0px 0px 21px rgba(0, 0, 0, 0.6);
	padding: 20px;
	color: #fff;
}

.lead {
	
	font-weight: bold;
	
	
}

.carousel-caption2 {
	
	background: none;
	color: #fff;
	font-size: 24px;	
	
	position: absolute;
    left: 65px;
    right: 0;
    bottom: 0;
    top: 260px;
    padding: 10px 15px 5px;
	
}

.carousel-caption2 a {
	
	color: #00ddff; 
	
}

#myCarousel {
	
	margin-bottom: 0px;
	  
	
}

.carousel-control2{
	

  position: absolute;
  top: 40%;
  left: 0px;
  width: 100%;
  height: 100%;
  margin-top: -10px;
  
  
  
    		
}

.carousel-control2.left {
	
	background:url(left22.png) no-repeat ;
	height:59px;
	width:59px;
	left:-12px; 
	
	
}


.carousel-control2.right {
	
	
    left:auto;
    right:-12px;
	background:url(right22.png) no-repeat ;	
    height:59px;
	width:59px;
}


.listed {	
   cursor:pointer;
   border: none;
   padding: 5px 30px;
   border-radius: 0px;
   background: #7accff;
   border: #ff0000;
   color: #fff;
   font-weight: bold; 
   
}




.droper {
	
	float:left;
	margin-left: 15px;
	list-style: none;
	
}





/* universal */

.container {
	width: 980px;
	
	
}

html {
  overflow-y: scroll;
  border-top: 5px $grayMediumLight solid;
}

body {
  margin-top: 50px;
  background: url(wback7.jpg) center top no-repeat;
  
  
  
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  
  h1 {
    margin-bottom: 10px;
  }  
}

.border {
	
	border-top: 5px solid $grayMediumLight;
	border-right: 1px dotted $grayMediumLight;
	border-left: 1px dotted $grayMediumLight;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  color: #fff;
}

h2 {
  font-size: 2.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #000;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a:hover {
  text-decoration: underline;
  background: none;	
}

/* footer */

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 5px solid $grayMediumLight;
  color: $lightGray;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


/* trips index */



.trip {
  list-style: none;
  margin-left: 0px;
  margin-right:0px;
  background: #fff;
  display: block;
  padding: 10px;
  line-height:220%;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.05),0 0 9px rgba(0,0,0,0.1);    
    border: 1px solid #D4D4D4;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #D4D4D4;
    border-right-color: #D4D4D4;
    border-bottom-color: #D4D4D4;
    border-left-color: #D4D4D4;
  li {
  	float: left;
  }
}  	

.caption{
  	height:50px;
  	padding: 5px; 
  	border-bottom: 1px solid #efefef;	
  }	
 
.price {	
	margin-left:334px;
	margin-top:-45px;
}  
  
.trip img {	
	width: 440px;
	height: 310px;	
}



.trip:hover {
  -webkit-box-shadow: 0px 0px 4px 3px #CBDBF0;
  -moz-box-shadow: 0px 0px 4px 3px #cbdbf0;
  box-shadow: 0px 0px 4px 3px #CBDBF0;
  cursor: pointer;	
}



.pg {	
	margin-top: -60px;
	text-align: center;
	
}
	
.item img {	
	
	
}

.price1 {
	
	padding: 20px;
	width: 180px;
	height:50px;
	float:right;
	margin-top: -80px;
	margin-right:10px;
	font-size:22px;
	font-weight: bold;
	border: 1px dotted #efefef;
	
}

.location {
	list-style: none;
	margin-left:0px;
	margin-top: 0px;
}

.location li {
	float:left;
	margin-left: 5px;
}

.tripcard {
	
	padding: 7px;	
    height: 390px;
	
}

.form-horizontal {
	
	padding:10px;
	margin-left:-40px;
	background: #fff;
	width: 473px;
	
	
}

.book_button {	
   margin-left: auto;
   margin-right: auto;
   display: block;
   text-align: center;
   font-weight: bold;
   color: #fff;
   background:#00ff00;background-repeat:no-repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);text-shadow:0 1px 1px black ;color:#fff;font-size:18px;line-height:normal;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}.btn:hover{background-position:0 -15px;color:#333;text-decoration:none; 
}

.book_button:hover {	
   background-color:#80ff00;
   text-decoration:none;
}

.tripshow {
   background: url(wt.png);	
   width: 938px;
   padding: 20px;	
   box-shadow: inset 0 0 4px rgba(0,0,0,0.05),0 0 9px rgba(0,0,0,0.1);    
    border: 1px solid #D4D4D4;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #D4D4D4;
    border-right-color: #D4D4D4;
    border-bottom-color: #D4D4D4;
    border-left-color: #D4D4D4;
	
}

.fb-like {
	top:-3px;	
}


.input-xlarge3 {	
	width: 278px;
	
}

.input-medium {	
    width: 138px;
}

.h {
	
	display: none;
	
}

.abouth {
	
	background: $grayMediumLight;
	padding: 15px;
	
}


#myModal {
	
	
	text-align: center;
	
}


.modal-body {
	
	background: url(wood.png);
	
}


.form-horizontal {
	
	background: none;
	
}

