
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$lightGray: #999;

/* header */

.nav-pills {
	font-size:12px;
	font-weight:bold;
	margin-top: -25px;
	border-radius: 0px;
}


.nav-pills li  a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #5e5a5a ;  
}


.nav-pills a:hover {  
  
  text-decoration:underline;
}



#logo {
  margin-left:5px;
     
}


.headline3 {
	
	background: url(bbb7.jpg);
	padding: 15px;
	height:240px;
	
    border: 5px solid #fff;
   -webkit-box-shadow: 0px 0px 1px rgba(54, 50, 50, 0.75);
   -moz-box-shadow:    0px 0px 1px rgba(54, 50, 50, 0.75);
   box-shadow:         0px 0px 1px rgba(54, 50, 50, 0.75);
    
	
}

.headline {	
	
    margin-top:30px;	
    font-weight: bold;
    
    line-height: 1.2;
    
	padding: 5px;
	color: #fff;
	width: 350px;
	margin-left:10px;
	border-top: solid 5px #fff;
	border-bottom: solid 5px #fff;
}


.search {
	
	margin-left: 105px;
	margin-top: 0px;
	margin-bottom: 50px;
	
}

.lead {	
	font-weight: bold;		
}



.listed {	
   cursor:pointer;
   border: none;
   padding: 5px 30px;
   border-radius: 0px;
   background: #7accff;
   border: #ff0000;
   color: #fff;
   font-weight: bold; 
   
}




.droper {
	
	float:left;
	margin-left: 15px;
	list-style: none;
	
}





/* universal */

.container {
	width: 980px;
	
	
}



.container a:hover {
		
    
	
}

html {
  overflow-y: scroll;
  
}

body {
  margin-top: 50px;
  background: url(lp2.png);
    
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  
  h1 {
    margin-bottom: 10px;
  }  
}

.border {
	
	border-top: 0px solid $grayMediumLight;
	border-right: 1px dotted $grayMediumLight;
	border-left: 1px dotted $grayMediumLight;
	
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  color: #fff;
}

h2 {
  font-size: 2.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #000;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

h3 {
	font-size: 1.4em;
}

/* footer */

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 5px solid $grayMediumLight;
  color: $lightGray;
  a {
    color: $gray;
    &:hover { 
      
      
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


/* trips index */



.trip {
  list-style: none;
  margin-left: 0px;
  margin-right:0px;
  background: #fff;
  display: block;
  padding: 10px;
  line-height:220%;
     
    border: 1px solid #D4D4D4;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #D4D4D4;
    border-right-color: #D4D4D4;
    border-bottom-color: #D4D4D4;
    border-left-color: #D4D4D4;
  li {
  	float: left;
  }
}  	

.caption{
  	height:60px;
  	padding: 5px; 
  	border-bottom: 1px solid #efefef;
  p {
  	margin-top: -10px;
  }		
 }	
 
.price {	
	margin-left:318px;
	margin-top:240px;
	position: absolute;	
	width: 105px;
	padding: 5px;
	background:url(bl.png);
	font-style: bold;
	color: #fff;
}  
  
.trip img {	
	width: 440px;
	height: 310px;	
}



.trip:hover {
  -webkit-box-shadow: 0px 0px 4px 3px #CBDBF0;
  -moz-box-shadow: 0px 0px 4px 3px #cbdbf0;
  box-shadow: 0px 0px 4px 3px #CBDBF0;
  cursor: pointer;	
}



.pg {	
	margin-top: -60px;
	text-align: center;
	
}
	
.item img {	
	
	
}

.price1 {
	
	
	padding: 20px;
	width: 250px;
	height:200px;
	float:right;
	margin-right: 0px;
	
	
	
	font-size:16px;
	font-weight: bold;
	
	
	
	
}

.price1 h3 {
	
	margin-top: -5px;
	font-size: 28px;
	
}

.price1 h6 {
	
	text-align:center;
	
}

.booking {
       
 
    padding:5px;
    top:5px;         
    background: url(lp.png);
    
}


.location {
	list-style: none;
	margin-left:0px;
	margin-top: 0px;
}

.location li {
	float:left;
	margin-left: 5px;
}

.tripcard {
	background: #f8f6f6;
	border: none;
	height: 430px;
	width: 978px;
	margin-left: -20px;
	padding: 0px;
   
	
}

.tripside {
	
   
   padding: 15px;
   border: solid 1px #efefef;
   background: #fafafa;	
   width: 288px;
   margin-top:-220px;
   position: absolute;
	
}
.form-horizontal {
	
	padding:10px;
	margin-left:-40px;
	background: #fff;
	width: 473px;
	
	
}

.book_button {	
   margin-left: auto;
   margin-right: auto;
   display: block;
   text-align: center;
   font-weight: bold;
   color: #fff;
   background:#00ff00;background-repeat:no-repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);text-shadow:0 1px 1px black ;color:#fff;font-size:18px;line-height:normal;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}.btn:hover{background-position:0 -15px;color:#333;text-decoration:none; 
}

.book_button:hover {	
   
   background:#00ff00;background-repeat:no-repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);text-shadow:0 1px 1px black ;color:#fff;font-size:18px;line-height:normal;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}.btn:hover{background-position:0 -15px;color:#333;text-decoration:none; 

}

#myModal {
	
	width: 500px;
	
}

.modal-body {
	
	background: url(1s.jpg);
	text-shadow: 1px 1px 3px #000,2px 3px 5px #222,-1px -1px 2px #333;
	text-align: center;
	
}

.tripshow {
   background: url(wt.png);	
   width: 938px;
   padding: 20px;	
   box-shadow: inset 0 0 4px rgba(0,0,0,0.05),0 0 9px rgba(0,0,0,0.1);    
    border: 1px solid #D4D4D4;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #D4D4D4;
    border-right-color: #D4D4D4;
    border-bottom-color: #D4D4D4;
    border-left-color: #D4D4D4;
    
	
}

.fb-like {
	top:-3px;	
}


.input-xlarge3 {	
	width: 508px;
	height: 120px;
	
}

.input-medium {	
    width: 138px;
}

.h {
	
	display: none;
	
}

.abouth {
		
	border-bottom: 2px solid  $grayMediumLight  ;
	
}

.abouts {
	
	margin-left: 5px;
	padding: 20px;
	background: $grayMediumLight  ;
}




.form-horizontal {
	
	background: none;
	
}



#mc_embed_signup{ 
	border-top: dotted 1px $grayMediumLight;
    margin-bottom: -50px;
    color: #000;
    height: 180px;
 }

#mc_embed_signup ul { display:inline; }


#mc_embed_signup ul li { float:left; list-style: none; margin-left: 25px;  margin-top: 0px;  }
	

.hshot {
	
	background: url(ttt2.jpg);
	height: 549px;
	padding: 15px;
	
	 border: 5px solid #fff;
   -webkit-box-shadow: 0px 0px 1px rgba(54, 50, 50, 0.75);
   -moz-box-shadow:    0px 0px 1px rgba(54, 50, 50, 0.75);
   box-shadow:         0px 0px 1px rgba(54, 50, 50, 0.75);
	
}

.hshoth {
	
	padding: 20px;
	background: url(imm.png);
	width: 450px;
	color: #fff;
	text-align: center;
	margin-left:245px;
	margin-top: 80px;
	
}

.hshot2 {
	
	background: url(sss2.jpg);
	height: 549px;
	padding: 15px;
	
	 border: 5px solid #fff;
   -webkit-box-shadow: 0px 0px 1px rgba(54, 50, 50, 0.75);
   -moz-box-shadow:    0px 0px 1px rgba(54, 50, 50, 0.75);
   box-shadow:         0px 0px 1px rgba(54, 50, 50, 0.75);
	
	
}


.hshoth h1 {
		
	width: 450px;
	border-bottom: 1px inset #efefef;
	
}

.hshoth h4 {
	
	padding: 10px;
	border-bottom: 1px inset #efefef;
}

.headline2 {	
	background: url(wt.png);
    margin-top: -310px;
	position: absolute;
	margin-left:600px;	
    font-weight: bold;
    
    line-height: 1.2;
	padding: 20px;
	color: #000;
	
	background-color: white;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(0.93, rgba(255, 255, 255, 1.0)), color-stop(0.99, rgba(237, 237, 237, 1.0)));
    background-image: -moz-linear-gradient(100% 50%,rgba(255, 255, 255, 1.0) 93%,rgba(237, 237, 237, 1.0) 1.0);
    
    -moz-box-shadow: 2px 5px 7px #333;
    -webkit-box-shadow: 2px 5px 7px #333;
    box-shadow: 2px 5px 7px #333;
}


.headline2 ul li{
	
	list-style: none;
}

.headline2 a {
	
	color:#000;
}

.why {
	
	padding: 10px;
	text-align: center;
	line-height: 1.9;
	background: #efefef;
	color:#3b3b3b;
	
	
}


.social {
	
	text-align: center;
}


.checkpoints {
	
	background: #efefef;
	padding: 20px;
	
	
}

.list ul li {
	
	
	line-height: 100%;
	
}


    .myButton {
        
        -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        box-shadow:inset 0px 34px 0px -15px #b54b3a;
        
        background-color:#a73f2d;
        
        border:1px solid #241d13;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 23px;
        text-decoration:none;
        
        text-shadow:0px -1px 0px #7a2a1d;
        width:400px;
        
    }
    .myButton:hover {
        
        background-color:#b34332;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 23px;
        text-decoration:none;
        
        text-shadow:0px -1px 0px #7a2a1d;
        
    }
    .myButton:active {
        position:relative;
        top:1px;
    }


.sidescribe {
	
	background:url(imm.png);
	padding: 15px;
	text-align: center;
	color: #fff;
	 text-shadow: 1px 1px 3px #000,2px 3px 5px #222,-1px -1px 2px #333;
	text-transform:uppercase;
	
}

